<h2>add a new numbers</h2>
<form action="/home/add_process", method="post">
Name : <input type="text" name="phone_user">
Phone number : <input type="text" name="phone_number">
<input type="submit" value="add">
</form>
